*
{
    margin: 0;
}

.container{
    height: 50vh;
    font-size:40px;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(143, 123, 123);
}
button {
    font-size: 40px;
    
    
}