.rn-banner {
  background-color: red;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: #fff;
  font-family: Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 20px 0;
  padding: 10px 15px;
}
.rn-banner-inner {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.rn-banner-left {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rn-banner-right {
  align-items: center;
  display: flex;
}
.rn-banner-btn,
.rn-banner-btn:hover {
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  color: #5850ec;
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  font-size: 14px;
  padding: 10px 20px;
  justify-content: space-around;
  margin: 5px 0;
  text-decoration: none;
  text-align: center;
  width: auto;
}
.rn-close-btn {
  align-self: flex-start;
  cursor: pointer;
  fill: none;
  flex-shrink: 0;
  height: 24px;
  margin: 10px 5px 0 15px;
  stroke: currentColor;
  width: 24px;
}
.rn-close-btn path {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}
.rn-banner-prefix {
  background-color: #42389d;
  border-radius: 50px;
  display: inline-block;
  font-size: 14px;
  margin: 5px 10px 5px 0;
  padding: 5px 12px;
  text-transform: capitalize;
  white-space: nowrap;
}
.rn-banner-link,
.rn-banner-link:hover {
  color: inherit;
  flex-grow: 1;
  margin: 5px 10px 5px 0;
  text-decoration: none;
}
@media screen and (max-width: 640px) {
  .rn-banner-left {
    display: block;
  }
  .rn-banner-btn {
    margin-left: 40px;
  }
  .rn-close-btn {
    margin: 5px 0 0 15px;
  }
}
