
$h1Color:rgb(240, 221, 221);

*
{
    margin: 0;
}

h1{
    color: $h1Color;
    font-size: larger;
    
}

hr{
    height: 1px;
    width: 100%;
    background-color:black;
    margin-left: auto;
    margin-right: auto;
}

button{
text-transform: uppercase;
padding:30px;
font-family:'Courier New';
font-weight:bold;
border-radius:50%;
border:none;
margin-bottom: 20px;
}

.container, .counter{
    height: 70vh;
    font-size:30px;
    display: flex;
    flex-direction:column;
    text-align:center;
    background-color:rgb(143, 123, 123);
    padding:40px;
    row-gap: 70px;
}

select option { 
 text-transform: uppercase;
 font-weight: bold;

}


.second {
    width:200px;
    align-items:center;
    margin: 10px auto;
    height:50px;
    border-radius:5%;
    text-align:center;
    border:none;
    
    
}

.counter{
    background-color:rgb(62, 71, 71);
    margin-bottom: 40px;
    row-gap: 30px;
    
}



span{
    font-size: 100px;
    color:rgb(218, 108, 108);
    margin:40px;
    padding:50px;
}
